<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roume.fabien.sudokugame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="activity.ChoixNiveauActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="activity.JouerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="activity.JouerAleatoireActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>